.header
  - if flash[:notice]
    .notice= flash[:notice]

  - if @current_user
    %span Hi #{@current_user.name}
  - else
    %span
      = link_to "Sign up", new_user_path
      or
      = link_to "login", login_path